{{#each articles}}
  <div class="row" id={{this._id}}>
    <div class="col-md-9 offset-md-1">
      <img style="max-height: 120px;"src="{{ this.img }}">
      <a href="{{ this.link }}"><h3>{{ this.title }}</h3></a>
      <p>{{ this.summary }}</p>

      <form action="/save/{{this._id}}" method="POST">
<button type="submit" class="status" value="{{this.status}}">{{this.status}}</button>
{{#unless this.note}}
<button type="button" class="addnote-button btn-primary" value="{{this._id}}">Add A Note</button>
{{/unless}}
{{#if this.note}}
<button type="button" class="addnote-button btn-primary" value="{{this._id}}">Edit Note</button>
{{/if}}
</form>

    </div>
  </div>
  <br>
{{/each}}
