
{{#each saved}}
<div class="story-body" id={{this._id}}>
  <img style="max-height: 120px;" class="media" src="{{this.img}}">
<h2>
<a href="{{this.link}}" target="_blank">{{this.title}}</a>
<form action="/save/{{this._id}}" method="POST">
<button type="submit" class="status btn-primary" value="{{this.status}}">{{this.status}}</button>
<button type="button" class="addnote-button btn-primary" value="{{this._id}}">Edit Note</button>
</form>
</h2>
<summary>{{this.summary}}</summary>

</div>
{{/each}}
